* {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  /** variables */
  --spacing--m: 1rem;
  align-items: center;
}

/** utility */

.items-center {
  align-items: center;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.gap-m {
  gap: var(--spacing--m);
}

.grid {
  display: grid;
}

.padding-m {
  padding: var(--spacing--m);
}

/** custom */

#content {
  gap: 10rem;
}

main {
  flex: 1 0 300px;
}

#colourOne,
#colourTwo {
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

#grid {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}

#grid > button {
  width: 8rem;
  height: 8rem;
  border: 1px solid lightgrey;
  border-radius: 0.5rem;
  font-size: 3.5rem;
  text-align: center;
}

#colourOne > button,
#colourTwo > button {
  width: 6rem;
  height: 6rem;
  border: 1px solid darkgrey;
  border-radius: 0.5rem;
}

#actions > button {
  width: 12rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 700;
}

input {
  text-align: center;
  height: 3rem;
  font-size: 1rem;
  font-weight: 900;
}

h1 {
  font-size: 3rem;
}

#result {
  font-size: 1rem;
  font-weight: 700;
}

@media (max-width: 1420px) {
  #content {
    gap: 3rem;
  }

  #playerOneAside {
    grid-area: playerOne;
  }

  #playerTwoAside {
    grid-area: playerTwo;
  }

  #grid {
    grid-area: board;
  }

  #grid > button {
    width: 6rem;
    height: 6rem;
  }

  #colourOne > button,
  #colourTwo > button {
    width: 4rem;
    height: 4rem;
  }
}

@media (max-width: 960px) {
  #content {
    display: grid;
    grid-template-areas: "board" "playerOne" "playerTwo";
    gap: 3rem;
  }
}
