* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  /** variables */
  --spacing--m: 1rem;
}

/** utility */

.items-center {
  align-items: center;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.gap-m {
  gap: var(--spacing--m);
}

.grid {
  display: grid;
}

.padding-m {
  padding: var(--spacing--m);
}

/** custom */

main {
  flex: 1 0 300px;
}

#colourOne,
#colourTwo {
  grid-template-columns: 1fr 1fr 1fr;
}

#grid {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}

#grid > button {
  width: 5rem;
  height: 5rem;
}

#colourOne > button,
#colourTwo > button {
  width: 3rem;
  height: 3rem;
}
