* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  /** variables */
  --spacing--m: 1rem;
}

/** utility */

.items-center {
  align-items: center;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.gap-m {
  gap: var(--spacing--m);
}

.grid {
  display: grid;
}

.padding-m {
  padding: var(--spacing--m);
}

/** custom */

main {
  flex: 1 0 300px;
}

#colourOne,
#colourTwo {
  grid-template-columns: 1fr 1fr 1fr;
}

#grid {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}

#grid > button {
  width: 8rem;
  height: 8rem;
  border: 0.1rem solid lightgrey ;
  border-radius: .5rem;
  font-size: 3.5rem ;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

#colourOne > button,
#colourTwo > button {
  width: 6rem;
  height: 6rem;
  border: 0.1rem solid darkgrey;
  border-radius: 0.5rem;
}

#actions > button {
  width: 12rem;
  height: 3rem;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}
 
input{
  text-align: center;
  height: 3rem;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
}

#playerOne{
 margin: 2rem 2rem 0 4rem;
}

#playerTwo{
  margin: 2rem 4rem 0 2rem;
}

#colourOne{
  margin: 4rem 2rem 0 4rem ;
}

#colourTwo{
  margin: 4rem 4rem 0 2rem ;
}

h1{
  font-size: 3rem;
  font-family: 'Courier New', Courier, monospace;
}

#result{
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}
